
{{template "bootstrap_base_head" .}}

  <body>
    <div class="container">
      {{ template "navbar" .}}

      <!-- High-level stats -->
      <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
              <h3 class="panel-title">Fresh Taps!</h3>
            </div>
            <div class="panel-body">
              <p>Beers that have been tapped today.</p>
            </div>

            <!-- List group -->
            <ul class="list-group">
              {{ range .NewBeersToday }}
              <li class="list-group-item">{{ .FullName }}</li>
              {{ else }}
              <li class="list-group-item">Nothing new. :(</li>
              {{ end }}
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-md-offset-2">
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
              <h3 class="panel-title">Top Breweries This Week!</h3>
            </div>

            <!-- List group -->
            <ul class="list-group">
              {{ range .Top5Breweries }}
              <li class="list-group-item">{{ . }}</li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div> <!-- .container -->

{{template "bootstrap_base_foot" .}}
