
{{template "bootstrap_base_head" .}}
<body>
  <div class="container">
    {{ template "navbar" .}}
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ul class="list-group">
          {{ range $index, $beers := .TapList}}
          <li class="list-group-item">Tap {{$index}}) {{ range $beer_index, $beer := $beers }} {{ $beer.FullName }}{{ if last $beer_index $beers }}. {{ else }}, {{ end }}{{ end }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>

{{template "bootstrap_base_foot" .}}
